
        <div class="container container-fluid top-content">
       
        	<!-- garden submit -->
        	<div class="container-fluid garden-submit">
		        <div class="row">
		            <div class="jumbotron">
						<div class="nav-logo">
							<%=render(:partial => '/landing/logo')%>
						</div>
		            	
		                <!-- garden calculator -->
				        <div class="row cover-text text-center">
							
							<h1>Grow food with neighbours</h1>
							
					       <br><br>
						   
						   <p>we connect gardens with growers</p>
		   				
						
					
							
						   
						   
						   <div class='col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-3'>
   							<% if !flash[:error].blank? %>
   			   					<div class="alert alert-danger alert-dismissible" role="alert">
   									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   									    <span aria-hidden="true">&times;</span>
   									  </button>
   			   							<%= flash[:error]%>
   			   					</div>
   			   				<% end%>
							   
							   
   						   		<%= bootstrap_form_for(@user, :url => {:controller => 'users', :action => 'create'}, layout: :inline) do |f| %>
									<div class="input">
   						   				<%= f.text_field :first, placeholder: "First", hide_label: true%>
									</div>
									<div class="input">
   						   			<%= f.text_field :last, placeholder: "Last" , hide_label: true%>
									</div>
									<div class="input">
   						   			<%= f.email_field :email, placeholder: "E-mail", hide_label: true%>
									</div>
   									<%= f.form_group :user_type  do %>
   									  <%= f.radio_button :user_type, 0, label: "Yard Host", inline: true %>
   									  <%= f.radio_button :user_type, 1, label: "Gardener", inline: true %>
   									  <%= f.radio_button :user_type, 2, label: "Both", inline: true %>
   									<% end %>
   									<br>
   									<br>
   						   			<%= f.submit "Join the Movement"%>
   						   		<% end %>
							   </div>
						   	
						   </div>
						   
					   	
					        </div>
						
						
						
						
						<a class='scroll-link' href="second-content"></a>

				       
						
					</div>
				</div>
			</div>
			<!-- END garden submit -->  
			
		</div>         
	

<div class="row second-content-container">
	<div class='jumbotron text-center'>
		 <div id="map"></div>
		 <script async defer
			     src="https://maps.googleapis.com/maps/api/js?sensor=true&callback=initMap">
		     </script>
	</div>
</div>


				      