<!DOCTYPE html>
<html>
<head>
  <title>Find Local Gardens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

		<% if !flash[:notice].blank? %>
			<div class="alert alert-success alert-dismissible text-center" role="alert">
					<h1><%= flash[:notice]%><h1>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			</div>
		<% end%>
	

<%= yield %>




</body>


</html>
